{% extends 'base.html' %}
{% load static %}

{% block content %}
          <div class="card mb-3">
            
            <fieldset class='form-group' align='center'>
                    <legend class='border-bottom mb-2'>
                        <h4>Attendance Report</h4>
                    </legend>                    
                </fieldset>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>Sno</th>
                        <th>Student name</th>
                        <th>Attended classes</th>
                        <th>Total classes</th>
                        <th>Attendance %</th>
                    </tr>
                  </thead>  
                  <tbody>
                    {% for a in att_list %}
                    <tr>    
                        <th>{{ a.student_id }}</th>
                        <th>{{ a.student.name }}</th>
                        <th>{{ a.attendance_class }}</th>
                        <th>{{ a.total_class }}</th>
                        <th>{{ a.attendance }}</th>
                        <th><a class="w3-bar-item w3-button w3-hide-small  w3-hover-green" href="{% url 'attendance_detail' a.student.sno a.class_id.id %}" role="button">View</a></th>   
                    </tr>
                    {% empty %}
                            <p align='center'>No students</p>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>

{% endblock %}
