{% extends 'base.html' %}
{% block content %}

<form action="{% url 'confirm' assc.id %}" method="post">
    {% csrf_token %}
    <div class="card mb-3">
        <fieldset class='form-group' align='center'>
            <legend class='border-bottom mb-2'>
                <h3 align='center'>Edit Attendance</h3>
            </legend>                       
        </fieldset>
        <div class="card-body">
            <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Student name</th>
                        <th>Attendance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for att in att_list %}
                    <tr>
                        <th>{{att.student.name}}</th>
                        <th>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">

                                {% if att.status %}
                                <label class="btn btn-outline-success active">
                                    <input type="radio" name="{{ att.student.sno }}" id="option1" autocomplete="off" value="present" checked> Present
                                </label>

                                <label class="btn btn-outline-danger">
                                    <input type="radio" name="{{ att.student.sno }}" id="option2" autocomplete="off" value="absent"> Absent
                                </label>    
                                {% else %}
                                <label class="btn btn-outline-success">
                                    <input type="radio" name="{{ att.student.sno }}" id="option1" autocomplete="off" value="present" > Present
                                </label>

                                <label class="btn btn-outline-danger active">
                                    <input type="radio" name="{{ att.student.sno }}" id="option2" autocomplete="off" value="absent" checked> Absent
                                </label>
                                {% endif %}
                            </div>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>

    <div align='center'>
        <input class="btn btn-success btn-lg" type="submit" value="Submit">
    </div>
    <div class='border-top  pt-3' align="right">
           <small class="text-muted">_</small>
    </div>  
</form>

{% endblock %}
